# Your Steam API key can be obtained here: https://steamcommunity.com/dev/apikey
# The domain on the page linked above doesn't have to match
# This is used to fetch your dayz server information
STEAM_API_KEY=F116FC34A57A5B1938B266455B5EC602

# CFTools Developer Application - Used for the leaderboard
# Values can be grabbed from https://developer.cftools.cloud/applications
# Please refer to the documentation if you're unsure: https://wiki.mirasaki.dev/docs/cftools-create-application
CFTOOLS_API_APPLICATION_ID=66322b584071f253e4da1b58
CFTOOLS_API_SECRET=84nc5TSVR26lEkFStn5Fu8jzlGzKcyXuIJCfnBPgHRA=
